body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
}

header {
  background-color: #cce7ff;
  padding: 10px;
}

nav {
  display: inline-block;
  width: 80%;
  background-color: #99ccff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* nav li {
  display: inline-block;
  width: 150px;
  text-align: center;
} */

nav img {
  width: 10%;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

main {
  background-color: #f0f8ff;
  font-size: 18px;
  padding: 20px;
}

footer {
  background-color: #cccccc;
  text-align: center;
  padding: 10px;
}

h1 {
  text-align: center;
  font-family: Georgia, serif;
  color: #003366;
}

p {
  line-height: 1.6;
}

.skip-link {
  position: absolute;
  left: -999px;
  top: auto;
}
.skip-link:focus {
  left: 10px;
  top: 10px;
  background: yellow;
  padding: 5px;
}

.grid img {
  width: 200px;
  height: auto;
  margin: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  align-items: start;
  row-gap: 20px;
}

.flex img {
  width: 200px;
  height: auto;
  margin: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}